*{
    font-family: 'Rubik', sans-serif;
}
:root{
    --bg-color: #191919;
    --main-color: #2D4263;
    --sec-color: #C84B31;
    --txt-color: #ECDBBA;
}
html{
    scroll-behavior: smooth;
}
body{
    background: var(--bg-color);
    color: var(--txt-color);
}
.header{
    display: flex;
    justify-content: center;
    background: rgba(25, 25, 25, 0.8);
    border-radius: 40px;
    padding: 20px;
}
#logo{
    width: 140px;
    height: auto;
}
#ptxt{
    width: 40%;
    height: auto;
}
.center-s{
    display: flex;
    justify-content: center;
    align-items: center;
}
.separator{
    height: 10px;
    width: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: var(--sec-color);
    border-radius: 5px;
}
.dark-mode{
    display: flex;
    justify-content: right;
    margin-right: 7vmin;

}
.bx{
    position: absolute;
    cursor: pointer;
    font-size: 1.2rem;
    color: #fff;
    background-color: #393939;
    border-radius: 50%;
    padding: 4px;
    transition: 0.5s ease;
}
.bx:hover{
    background-color: #5D5D5D;
}
.body-content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}
.img-body{
    z-index: -2;
    border: 5px solid var(--bg-color);
    border-radius: 5px 50px;
    width: 118vmin;
    position: absolute;
    opacity: 0.8;
}
.title-1{
    padding: 25px;
    background: rgba(25, 25, 25, 0.92);
    border-radius: 5px 50px;
    margin: 14vh 1vw;
    font-size: 6vmin;
}
#title-stem{
    color: var(--sec-color);
    font-size: 18vmin;
}
#s1{
    display: inline-block;
    transform: rotate(-11deg);
}
#s2{
    display: inline-block;
    transform: rotate(10deg);
}
#s3{
    display: inline-block;
    transform: rotate(-12deg);
}
#s4{
    display: inline-block;
    transform: rotate(13deg);
}
.lowert{
    font-size: 3vmin;
    text-align: center;
    font-style: italic;
}
.slider{
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide-container{
    max-width: 1120px;
    width: 100%;
    background-color: var(--txt-color);
    padding: 60px 100px;
    border-radius: 12px;
}
.slide-content{
    margin: 50px 40px;
}
.card{
    width: 320px;
    border-radius: 25px;
    background-color: #292929;
}
.img-content, .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
}
.img-content{
    position: relative;
    grid-row-gap: 5px;
}
.overlay{
    border-radius: 25px 25px 0 0; 
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--bg-color); 
}
.card-img{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    padding: 3px;
}
.card-img .card-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.name{
    text-align: center;
    font-size: 25px;
    color: var(--txt-color);
}
.details{
    text-indent: 40px;
    text-align: justify;
    color: var(--txt-color);
    font-size: 14px;
}
.btn{
    border: none;
    border-radius: 6px;
    font-size: 14px;
    background-color: var(--main-color);
    color: var(--txt-color);
    padding: 8px 16px;
    margin: 14px;
    transition: all 0.5s ease;
}
.btn:hover{
    color: #fff;
    background: var(--sec-color);
}
.header2{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 5%;
}
.t2{
    text-align: right;
    font-size: 100px;
    margin-top: 11%;
    margin-right: 2%;
}
.slider-cont2{
    position: relative;
    width: 590px;
    height: 800px;
}
.card2{
    display: flex;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    overflow:auto;
}
.img-cont2, .card-cont2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 15px;
}
.img-cont2{
    position: relative;
    grid-row-gap: 5px;
}
.pic{
    border: 10px solid var(--sec-color);
    margin-top: 5%;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    padding: 3px;
}
.name2{
    font-size: 35px;
    color: var(--txt-color);
}
.role{
    font-size: 28px;
    color: var(--sec-color);
}
.info{
    line-height: 1.5;
    word-spacing: 3px;
    text-indent: 50px;
    text-align: justify;
    font-size: 16px;
    margin: 4%;
}

.card2:nth-child(1n) {
    background-color: #1D3E53;
}

.card2:nth-child(2n) {
    background-color: #254B62;
}

.card2:nth-child(3n) {
    background-color: #153B44;
}

.card2:nth-child(4n) {
    background-color: #1D3E53;
}

.card2:nth-child(5n) {
    background-color: #254B62;
}


@media (max-width: 1080px){
    #logo{
    width: 140px;
    }
    #ptxt{
        width: 50%;
        height: auto;
    }
    .img-body{
        display: none;
    }
    .title-1{
        padding: 0px;
        background: none;
    }
    .header2{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 5%;
    }
    .t2{
        text-align: center;
        margin-bottom: 2px;
    }
}
@media (max-width: 720px){
    #logo{
    width: 120px;
    }
    #ptxt{
        width: 45%;
        height: auto;
    }
    .lowert{
        font-size: 15px;
    }
    .t2{
        font-size: 50px;
    }
    .slider-cont2{
        width: 500px;
    }
}

@media (max-width: 480px){
    #logo{
        width: 80px;
    }
    #ptxt{
        width: 55%;
        height: auto;
    }
    #title-stem{
        font-size: 10px;
    }
    .lowert{
        font-size: 13px;
    }
    .slider-cont2{
        width: 300px;
    }
    .pic{
        height: 200px;
        width: 200px;
    }
    .t2{
        font-size: 35px;
        margin-bottom: 3%;
        margin-top: 25%;
    }
    .name2{
        font-size: 18px;
    }
    .role{
        font-size: 15px;
    }
    .info{
        font-size: 12px;
        margin: 10%;
    }
    #title-stem{
        font-size: 5rem;
    }
    .body-img{
        display: none;
    }
}
